/* SIDEBAR */

.sidebar::-webkit-scrollbar {
  width: 0;
  background: transparent; /* hide sidenav scrollbar on Chrome, Opera and other webkit Browsers*/
}

/* hide sidenav scrollbar on Firefox, IE and Edge*/
.sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* DASHBOARD LAYOUT */

.background {
  background-size: cover;
  background-position: center;
  background-image: url("mac.webp");
}

.content {
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(24px);
}

.main {
  color: #f9fafb;
  background-color: rgba(16 18 27 / 40%);
}
.main::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
.main::-webkit-scrollbar-thumb {
  background: rgb(1 2 3 / 40%);
  border-radius: 10px;
}
